@use 'base/media-queries.scss' as *;

.mat-bottom-tab-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  .mat-bottom-tab-header {
    width: 100%;
    height: auto;
  }

  .mat-bottom-tab-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .mat-bottom-tab-content {
      flex: 1;
      overflow: auto;
    }

    .mat-bottom-tab-label {
      width: 100%;
      height: 50px;
      flex-shrink: 0;
    }
  }

}
