<mat-tab-group class="home-container"
               headerPosition="below"
               [(selectedIndex)]="selectedTabIndex"
               (selectedTabChange)="onTabChange($event)">

  <mat-tab label="Home">
    <ng-container *ngIf="selectedTabIndex===0">
      <router-outlet></router-outlet>
    </ng-container>
  </mat-tab>
  <mat-tab label="User">
    <ng-container *ngIf="selectedTabIndex===1">
      <router-outlet></router-outlet>
    </ng-container>
  </mat-tab>
  <mat-tab label="Setting">
    <ng-container *ngIf="selectedTabIndex===2">
      <router-outlet></router-outlet>
    </ng-container>
  </mat-tab>

  <mat-tab label="Images">
    <ng-container *ngIf="selectedTabIndex ===3">
      <router-outlet></router-outlet>
    </ng-container>
  </mat-tab>

</mat-tab-group>
