@use "base/media-queries" as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 80ch;

  @include media-phone-only {
    max-width: 41ch;
  }

  p {
    margin-block: 10px 10px;
    margin: 10px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #424242;

    b {
      color: #0d0e0f;
    }

  }

  .text--medium {
    color: #000000;
    font-size: larger;
  }


  .img-container {
    text-align: center;
    border-bottom: 1px solid #e1eefc;

    img {
      width: 130px;
      height: auto;
      margin: 0 10px 35px 0;

    }
  }

  .card_grid_container {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
    @include media-phone-only {
      grid-template-columns:repeat(1, 1fr);
    }

    h3, p, span {
      margin-left: 0;
      margin-right: 0;
    }

  }

  .image-item1 {
    text-align: left;

    img {
      width: 200px;
      height: auto;
    }

    @media (width >= 1200px) {
      position: absolute;
      bottom: -300px;
      left: 10px;

      img {
        width: 180px;
        height: auto;
      }
    }

    @media (width >= 1300px) {
      left: 40px;

      img {
        width: 220px;
      }
    }

    @media (width >= 1330px) {
      img {
        width: 220px;
      }
    }

    @media (width >= 1490px) {
      left: 60px;

      img {
        width: 270px;
      }
    }
  }

  .image-item2 {
    text-align: right;

    img {
      width: 230px;
      height: auto;
    }

    @media (width >= 1200px) {
      position: absolute;
      right: 10px;
      bottom: 80px;

      img {
        width: 200px;
        height: auto;
      }
    }

    @media (width >= 1300px) {
      img {
        width: 250px;
      }
    }

    @media (width >= 1330px) {
      right: 30px;

      img {
        width: 250px;
      }
    }

    @media (width >= 1490px) {
      img {
        width: 330px;
      }
    }
  }


  @include media-phone-only {
    .image-item1, .image-item2 {
      margin-top: 30px;
    }
  }

  .bottom_title {
    text-align: center;
  }
}

